setuptools==57.5.0
beautifulsoup4==4.12.2
camelot_py==0.11.0
langchain==0.1.0
langchain_community==0.0.13
langchain_openai==0.0.2.post1
llama_index==0.9.32
openai==1.7.2
pydantic==2.5.3
PyPDF2==3.0.1
python-dotenv==1.0.0
Requests==2.31.0
selenium==4.16.0
webdriver_manager==4.0.1
zep_python==1.5.0
